# Parse Raw Motion Data from the .csv File

## Required Packages

In [4]:
import os
import numpy as np
import pandas as pd

## Local Settings

In [5]:
folder = os.path.join(os.environ['SYNC'], r'MotionData\data\2nd-Development')

raw_csv = os.path.join(folder, '200ms数据.csv')

event_name = {
    "0-SLW": 1,
    "1-MLW": 2,
    "2-FLW": 3,
    "3-RD": 4,
    "4-SD": 5,
    "5-sit": 6,
    "6-stand": 7,
    "7-RA": 8,
    "8-SA": 9,
}

## Read Raw Motion Data

In [6]:
raw_df = pd.read_csv(raw_csv, header=None)
raw_df

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,1,NaN,-0.46,-0.35,-1.46,-48.23,196.47,44.74,-0.47,-0.21,...,-0.80,58.10,-40.34,-36.83,-0.92,-0.29,-1.23,11.08,14.67,-14.56
1,1,NaN,0.10,-0.23,-1.09,25.36,-37.24,-0.08,0.11,-0.22,...,-0.96,-65.88,-181.71,13.44,1.19,-0.03,-1.12,-51.45,-192.17,22.27
2,1,NaN,0.13,-0.08,-0.76,-30.66,-114.51,-3.68,0.22,-0.04,...,-1.96,-18.10,-47.52,-12.62,-0.60,0.02,-1.90,-11.41,-53.88,-11.32
3,1,NaN,-0.01,0.35,-1.06,53.32,-21.03,16.75,0.02,0.27,...,-1.03,-10.25,-20.45,13.82,-0.12,-0.43,-1.05,-27.15,-20.61,14.96
4,1,NaN,-0.76,0.09,-1.20,74.81,249.99,45.56,-0.69,0.07,...,-1.06,-5.59,-41.86,22.13,0.00,0.11,-1.20,3.75,-59.44,21.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31620,9,NaN,0.32,0.03,-0.91,-34.76,-31.73,-12.41,0.21,0.00,...,-1.47,-85.20,-133.42,52.31,-0.39,-0.18,-1.54,-86.81,-118.78,49.13
31621,9,NaN,0.44,-0.16,-0.59,-19.33,-94.39,-26.56,0.49,-0.16,...,-1.78,6.74,-60.10,-61.10,-0.72,-0.38,-1.78,21.69,-55.45,-57.82
31622,9,NaN,-1.22,-0.14,-2.00,-123.06,-171.74,53.10,-1.18,-0.50,...,-0.71,-10.76,-37.14,5.02,-0.01,-0.37,-0.88,-24.02,-41.90,3.26
31623,9,NaN,-0.44,-0.07,-1.20,42.85,86.61,8.25,-0.44,-0.09,...,-1.35,-51.25,-80.25,-74.44,-0.52,-0.18,-1.10,-33.99,-107.86,-48.68
31624,9,NaN,0.16,-0.09,-1.06,-23.68,-10.86,5.49,0.12,-0.21,...,-0.63,-31.03,-66.20,-8.55,0.46,-0.08,-0.66,-43.98,-74.47,-9.10

## Parse Raw Data for Events and Save Them Seperately

In [9]:
for name, evt in event_name.items():
    print(name, evt)
    
    values = raw_df[raw_df[0] == evt].values[:, 2:]
    print(values.shape)
    
    mat = values.reshape((values.shape[0], -1, 6))
    print(mat.shape)
    
    filename = os.path.join(folder, 'parsedData', f'{name}.npy')
    
    if not os.path.isdir(os.path.dirname(filename)):
        os.mkdir(os.path.dirname(filename))
        print(f'D: Made dir: {os.path.dirname(filename)}')
                 
    with open(filename, 'wb') as f:
        np.save(f, mat)

0-SLW 1
(3106, 120)
(3106, 20, 6)
D: Made dir: H:\Sync\MotionData\data\2nd-Development\parsedData
1-MLW 2
(2979, 120)
(2979, 20, 6)
2-FLW 3
(3325, 120)
(3325, 20, 6)
3-RD 4
(3140, 120)
(3140, 20, 6)
4-SD 5
(4291, 120)
(4291, 20, 6)
5-sit 6
(3646, 120)
(3646, 20, 6)
6-stand 7
(3850, 120)
(3850, 20, 6)
7-RA 8
(2899, 120)
(2899, 20, 6)
8-SA 9
(4389, 120)
(4389, 20, 6)